<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
>
    <testsuites>
        <testsuite name="SilexStarter core tests">
            <directory>tests/src</directory>
        </testsuite>

        <testsuite name="SilexStarter application tests">
            <directory>tests/app</directory>
        </testsuite>
    </testsuites>

</phpunit>
