{% extends '@silexstarter-doc/index.twig' %}

{% block title %} Requirement and Installation {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Requirements</h2>
            <p>
                The only requirement for now is PHP >= 5.4
            </p>

            <h2>Installation</h2>
            <p>
                Installation can be done via composer using <code>composer create-project xsanisty/silex-starter</code>
            </p>
        </div>
    </div>
{% endblock %}
