<div class="row">
    <div class="col-xs-12 text-center">
        <h2>SilexStarter Documentation</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Overview</h3>
        <p>
            This documentation will guide you to dive deeper into SilexStarter core feature, preloaded service providers,
            building application, creating module for the application, etc.
        </p>

        <h3>What is this?</h3>
        <p>
            SilexStarter is a very basic and light application built on the top of Silex micro framework, Eloquent ORM, Twig
            template engine, and several other library. It built using MVC architecture with modular approach in mind. It comes
            with the default module as role model on how the module can be built.
        </p>
    </div>
</div>
