{% extends '@silexstarter-doc/index.twig' %}

{% block title %} Module {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Module</h2>
        </div>
    </div>
{% endblock %}
