{% extends '@silexstarter-doc/index.twig' %}

{% block title %} Requirement and Installation {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>View</h2>
        </div>
    </div>
{% endblock %}
