<div id="sidebar-wrapper">
    {{ render_menu('admin.sidebar') }}
    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a href="https://github.com/Ehesp/Responsive-Dashboard" target="_blank">
                Github
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" target="_blank">
                About
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
                Support
            </a>
        </div>
    </div>
</div>