<html>
    <head>
        <title>Hi Bro</title>
    </head>
    <body>
        <p>I am rendered with twig</p>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    </body>
</html>